<div class="container">
    <h3 class="text-center">Contact Us</h3>
    
    <%= form_for "/contacts" do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <br>
        <%= f.label :Email %>
        <%= f.text_field :email %>
        <br>
        <%= f.label :comments %>
        <%= f.text_area :comments %>
        <br>
        <%= f.submit 'Submit' %>
        
    <% end %>
</div>